#root {
  margin: 2rem;
  font-family: "Trebuchet MS";
}

.Header {
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.Header img {
  height: 100%;
  object-fit: contain;
}

.Schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
}

.Match {
  width: 250px;
  height: 250px;
  padding: 25px;
  border: 2.5px solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}

.versus {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.country {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.country img {
  height: 50%;
  object-fit: contain;
}

@media only screen and (max-width: 750px) {
  .Header {
    height: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
